.contactus_input{
  border: 1px solid gray;
  /*width: 100%;*/
  height: 20px;
}

form div#prompt_success {
	display: inline;
	margin-left: 20px;
	color:green;
	font-size: 2em;
}

div > #contactWay_leaveMessage{
	padding: 2px;
}