/*guide page*/
.guide_navs{
  background: black;
}
.guide_nav{
  /*margin: 15px;*/
  width: 145px;
  padding: 0;
  text-align: center;
}
/*.btn_div{
  width:150px;
}*/


/*银行*/
ul li {  
	list-style-type:none;
}  
a {
	color: gray;
	font-size: 18px;
}
p {
	color: #231f20;
}

/*应用推荐*/
.panel{
	/*height: 600px;*/
	/*margin: 0;*/
}
.row-content {
	/*margin: 0 auto;
	padding:50px 0;
	border-bottom: 1px ridge;*/
	min-height: 200px;
}

.media-body {
	vertical-align: middle;
}