.contactLogo {
  width: 33px;
  height: auto;
}
#div1 {
   display: none;
 }
 .showPicture {
   width: 120px;
   height: auto;
 }
 .form-select {
   font-size: 12px;
    position: relative;
    left: 0;
    height: auto;
    padding: 5px 5px;
    border: 1px;
    border-radius: 0;
    box-shadow: 0;
 }

.nav-logo {
  height: 50px ! important;
  width: auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #5aadbb;
}
