ul#list_job {
	list-style: none;
}
ul#list_job>div.titles_job {
	/*background-color: pink;*/
	height: 30px;
	line-height: 30px;
	/*text-align: center;*/
	border-bottom:1px solid #EEE;
}
ul#list_job>div.item_job {
	/*background-color: pink;*/
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding: 0 5px;
	border-bottom: 1px dotted #ddd;
	margin-bottom: 2px;
	cursor: pointer;
}