<section id="services" class="section section-padded">
	<div class="container">
		<div class="row text-center title">
			<h2>公告</h2>
			<div ng-bind-html="controller.announcement"></div>
		</div>
	</div>
</section>

<section id="services" class="section section-padded">
	<div class="container">
		<div class="row services">
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img ng-src="img/icons/activity-blue.png" alt="" class="icon">
					</div>
					<h4 class="heading">活动推广</h4>
					<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img ng-src="img/icons/life-blue.png" alt="" class="icon">
					</div>
					<h4 class="heading">生活指南</h4>
					<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				</div>
			</div>
		</div>
		<div class="row services">
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img ng-src="img/icons/work-blue.png" alt="" class="icon">
					</div>
					<h4 class="heading">工作咨询</h4>
					<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				</div>
			</div>
			<div class="col-md-4">
				<div class="service">
					<div class="icon-holder">
						<img ng-src="img/icons/question-blue.png" alt="" class="icon">
					</div>
					<h4 class="heading">未定</h4>
					<p class="description">A elementum ligula lacus ac quam ultrices a scelerisque praesent vel suspendisse scelerisque a aenean hac montes.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="jumbotron">
  <h1>{{controller.contents[0].a}}</h1>
  <p>
    {{controller.contents[0].b}}
  </p>

  <img ng-src="./images/sample.jpg" alt="image"/>
</div>


