<div id="contents_page">
	
	<div class="container" ng-show="vm.showAnnouncement">
		<div class="row text-center" id="announcement">
			<h2 ng-bind-html="vm.announcement_title"></h2>
			<div ng-bind-html="vm.announcement"></div>
		</div>
	

		<div class="row services">
			<div class="col-sm-4">
				<div class="service" onclick="location.href='home/movements'">
					<div class="icon-holder">
						<img ng-src="img/icons/activity-blue.png" alt="活动推广" class="icon">
					</div>
					<h4 class="heading">活动推广</h4>
					<p class="description">欢迎小伙伴们浏览鲁昂学联官方即将推出的各类活动</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service" onclick="location.href='home/guides'">
					<div class="icon-holder">
						<img ng-src="img/icons/life-blue.png" alt="生活指南" class="icon">
					</div>
					<h4 class="heading">生活指南</h4>
					<p class="description">小伙伴们关于医疗，住房，保险等各方面与生活相关的问题，都可以在这里得到答案</p>
				</div>
			</div>
		</div>
		<div class="row services">
			<div class="col-sm-4">
				<div class="service" onclick="location.href='home/works'">
					<div class="icon-holder">
						<img ng-src="img/icons/work-blue.png" alt="工作咨询" class="icon">
					</div>
					<h4 class="heading">工作咨询(筹备中...)</h4>
					<p class="description">平时希望在鲁昂及其周边打零工的小伙伴们，这里可能有你希望的工作</p>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="service" onclick="location.href='home/writing'">
					<div class="icon-holder">
						<img ng-src="img/icons/writing-blue.png" alt="生活随笔" class="icon">
					</div>
					<h4 class="heading">生活随笔(筹备中...)</h4>
					<p class="description">小伙伴们欢迎在这里交流在鲁昂的生活感受，或者对于鲁昂学联的建议</p>
				</div>
			</div>
		</div>
	</div>

</div>