<!-- <div class="row guide_divs">
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">交通</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">运营商</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">生活饮食</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">运动</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">娱乐</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">房补</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">就医指南</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">银行</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">应用推荐</a></div>
   </div> -->
<ul class="nav nav-pills guide_navs">
    <li ng-class="{ active: vm.tab==1 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/1'">交通</h5>
    </li>
    <li ng-class="{ active: vm.tab==2 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/2'">运营商</h5>
    </li>
    <li ng-class="{ active: vm.tab==3 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/3'">生活饮食</h5>
    </li>
    <li ng-class="{ active: vm.tab==4 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/4'">运动</h5>
    </li>
    <li ng-class="{ active: vm.tab==5 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/5'">娱乐</h5>
    </li>
    <li ng-class="{ active: vm.tab==6 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/6'">房补</h5>
    </li>
    <li ng-class="{ active: vm.tab==7 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/7'">就医指南</h5>
    </li>
    <li ng-class="{ active: vm.tab==8 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/8'">银行</h5>
    </li>
    <li ng-class="{ active: vm.tab==9 }" class="guide_nav">
            <h5 onclick="location.href='home/guides/9'">应用推荐</h5>
    </li>
</ul>

<div class="container">
    <div class="row">
        <div class="panel" ng-show="vm.tab===1">
            <div id="menu" class="nav1">
                <h2>交通</h2>
                <ul>
                    <li class="toc-entry toc-h2"><a href="#DTGJ">地铁&amp;公交</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#GP">购票</a></li>
                        <li class="toc-entry toc-h3"><a href="#BLGJK">办理公交卡</a></li>
                        <li class="toc-entry toc-h3"><a href="#SXCL">所需材料</a></li>
                        <li class="toc-entry toc-h3"><a href="#BKDZ">办卡地址</a></li>
                        <li class="toc-entry toc-h3"><a href="#YYSJ">营业时间</a></li>
                        <li class="toc-entry toc-h3"><a href="#ZYSX">注意事项</a></li>
                    </ul>
                    <li class="toc-entry toc-h2"><a href="#DGLJC">戴高乐机场&amp;奥利机场交通方式</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#JCDB">机场大巴</a></li>
                        <li class="toc-entry toc-h3"><a href="#HC">火车</a></li>
                    </ul>
                    <li class="toc-entry toc-h2"><a href="#HC1">火车</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#BKCL">办卡材料</a></li>
                        <li class="toc-entry toc-h3"><a href="#WSBK">网上办卡</a></li>
                        <li class="toc-entry toc-h3"><a href="#SNCFGW">SNCF官网</a></li>
                    </ul>
                </ul>
            </div>


            <br/>
            <div id="menu" class="section">
                <h2 id="DTGJ"><strong><span style="color: #993366;">地铁&amp;公交&nbsp;&nbsp;&nbsp;<img ng-src="../../images/生活指南1_交通/AstuceLogo.png" alt="AstuceLogo.PNG" width="190" height="80" /></span></strong></h2>
                <p><br /><strong id="CX"><span style="color: #993366;">查询：</span></strong>可以通过APP R&eacute; seau Astuce 或 www.reseauastuce.fr 网页查询所有可行路线和时刻表。
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img ng-src="../../images/生活指南1_交通/AstucePhonePage.png" alt="AstucePhonePage.PNG" width="350" height="auto" />
                </p>
                <p> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #993366;">Astuce手机软件界面</span>
                </p>
                <p id="GP"><br /><strong><span style="color: #993366;">购票：</span></strong>鲁昂地铁和公交的票是通用的。可在所有地铁站或市中 心T线巴士站 的机器上用银行卡或硬币购买，推荐否买10次青 年票（Jeune 10 voyages）约8.4欧。搭乘公交时也可以上车后 跟司机买单次票 。
                </p>
                <p id="BLGJK"><br /><strong><span style="color: #800080;">办理公交卡：</span></strong>如果乘坐公共交通的次数比较多，建议直接办 理月卡或年卡。 26岁以下可以办理约26.5欧的青年月票Demitarif 31 jours 或 约240欧的青年年票Demi-tarif 365 jours。
                    <br /><strong id="SXCL"><span style="color: #993366;">所需材料：</span></strong>护照或者长居卡（Titre de s&eacute;jour），住房证明， 证件照 （3 x 3 cm规格，浅底彩色）。
                    <br /><strong id="BKDZ"><span style="color: #993366;">办卡地址：</span></strong>Astuce服务点 ：Agence ASTUCE, 9 Rue Jeanne d'Arc, 76000 Rouen, Th&eacute;&acirc;tre des Arts 站或火车站。
                </p>
                <p id="YYSJ"><br /><strong id="YYSJ"><span style="color: #993366;">营业时间：</span></strong>周一至周五 7：00 &ndash; 19:00，周六9:30 &ndash; 17:30</p>
                <p id="ZYSX"><br /><strong id="ZYSX"><span style="color: #800080;">注意事项： </span></strong><br />
                    <strong><span style="color: #993366;">检票：</span></strong>记得打卡！！！法国的公共交通会抽查式检票， 逃票被抓至少会被罚45欧。 <br />
                    <strong><span style="color: #993366;">停车：</span></strong>搭公交车的时候, 记得提前按门旁边扶手上的红色 Stop / Arr&ecirc;t 按钮，不然 车可能会不停。 <br />
                    <strong><span style="color: #993366;">转乘：</span></strong>车票一小时内可无限次转乘，第一次转乘后打 卡，会出现一个&ldquo;C&rdquo;, 代 表Correspondance（转乘）。
                </p>
                <br/><br/>
                <h2 id="DGLJC"><strong><span style="color: #993366;">巴黎戴高乐&amp; 奥利机场交通方式</span></strong></h2>
                <p id="JCDB"><strong><span style="color: #993366;">机场大巴：</span></strong>可乘坐Ouibus或Flixbus大巴从鲁昂到巴黎戴高乐 机场（CDG），价格 实惠（10到20欧），行程约为两到三个半 小时（Ouibus途经Beauvais机场）。巴黎停靠点位于T3航站 楼，要去其他航站楼可以搭乘机场内的轻轨，鲁 昂停靠点在左 岸，33 Avenue Champlain 。建议提前一个月在官网确认大巴 到达时间并购票。到奥利机场(ORLY)没有直达大巴。
                </p>
                <p id="HC"><strong><span style="color: #993366;">火车：</span></strong>先乘火车从鲁昂到巴黎St-Lazare火车站，（9 到18欧）。然后，方法一、 转地铁14号线去Paris Nord 或Chatel&ecirc;t站（人流很大，小心财物）搭乘地铁RER-B 线直达戴高乐机场（约10欧），或反向搭乘RER-B到 Antony站转地铁去奥利机场。务必注意方向，还有无 视陌生人的搭讪！！方法二、走路十分钟或乘公共交通 至Op&eacute;ra站附近的机场收费大巴Ro issybus停靠点，乘 机场大巴。
                </p>
                <p>&nbsp;</p>
                <h2 id="HC1"><strong><span style="color: #993366;">火车</span></strong></h2>
                <p>火车站（Rouen-Rive Droite）附近有地铁（Gare-Rue Verte站）和公交（F2和8路）。火车站直达巴黎Paris Saint Lazare (1h10-1h30）、亚眠、卡昂、迪耶普以及勒阿弗尔。 <br />购票：可以在官网，车站或者在手机app（Voyages-SNCF） 上购买。有青年卡的每次订火车票时选择青年卡，订票选带 Carte jeune字样的有额外折扣。纸质票请提前两分钟在站台附 近找机器打票，手机购买电子票可以直接上火车，不用打票。 <br />青年卡（Carte jeune）：12岁到27岁的可以办理青年卡， 享受打折优惠。卡费50欧，不定期有办卡优惠活动。有效期一 年，开始生效的时间可以自行选择。火车会查票，车票和青年 卡都要出示。 <br />办卡地址：Place Bernard Tissot, 76000 Rouen（Gare-Rue Verte地铁站）或官网。<br /></p>
                <p><strong id="BKCL"><span style="color: #993366;">办卡材料：</span></strong>1寸照片和护照或者长居卡 <br /><strong id="WSBK"><span style="color: #993366;">网上办卡：</span></strong>在网上填写需要的资料，到火车站粘贴照片 <br /><span style="color: #993366;"><strong id="SNCFGW">SNCF 官网：</strong></span>www.voyages-sncf.com </span>
                </p>
                <p>&nbsp;</p>
                <p><span style="color: #000000;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img ng-src="../../images/生活指南1_交通/CarteJeune.png" alt="CarteJeune.png"/></span></p>
                <p><span style="color: #993366;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SNCF网页 青年卡界面 </span></p>
                <p>&nbsp;</p>
                <blockquote>
                    <p>&nbsp;注释：常见的住房证明：1.有房客房东双方签字的住房合同。2.有本人名字的EDF电费单/水费单/网费单&nbsp;</p>
                </blockquote>
            </div>
        </div>

<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
        <div class="panel" ng-show="vm.tab===2">
            <div id="menu" class="nav1">
                <h2>运营商</h2>
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#YYSJS">运营商介绍</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#Orange">Orange</a></li>
                        <li class="toc-entry toc-h3"><a href="#SFR">SFR</a></li>
                        <li class="toc-entry toc-h3"><a href="#Bouygues">Bouygues</a></li>
                        <li class="toc-entry toc-h3"><a href="#Free">Free</a></li>
                    </ul>
                    <li class="toc-entry toc-h2"><a href="#WLJDH">网络机顶盒</a></li>
                    <li class="toc-entry toc-h2"><a href="#Tips">Tips</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#WXDX">无限短信</a></li>
                        <li class="toc-entry toc-h3"><a href="#BHZYYS">保号转运营商</a></li>
                        <li class="toc-entry toc-h3"><a href="#HTXZ">合同限制(Engagement)</a></li>
                        <li class="toc-entry toc-h3"><a href="#BLTCSXZL">办理套餐所需资料</a></li>
                        <li class="toc-entry toc-h3"><a href="#BS">报税</a></li>
                    </ul>
                    <li class="toc-entry toc-h2"><a href="#JRNHMYFGYHZH">假如你还没有法国银行账户</a></li>

                </ul>
            </div>


            <br/>
            <div class="section">
                <div class="row">
                    <h2 id="YYSJS"><strong><span style="color: #ff6600;">运营商介绍</span> </strong></h2>
                    <p>前三大运营商1G流量套餐都在15欧左右。更多套餐信息，请在谷歌进行查 询，例如输入&ldquo;orange forfait&rdquo;。搭配同运营商的上网盒子BOX，可能有价 格优惠。法国运营商间竞争激烈，为了争取客户经常打出超低折扣，可以 多留意官网信息。 <br /><strong id="Orange">Orange</strong>，法国第一大的手机网络提供商，服务最好，信号最稳定，套餐多 为一年合同限制*。基本上只要不是太过于偏僻的地方都可以收到他家的信 号。子品牌Sosh，网络质量相同，价格更低，无实体店，网上办理业务。 <br /><strong id="SFR">SFR</strong>，服务介于Orange和Bouygues之间。没有合同限制，可以任意时间 更换提供商。子品牌Red，无实体店。 <br /><strong id="Bouygues">Bouygues</strong>，信号范围不是很广，但是4G的速度很快。Technop&ocirc;le和 Mont-Saint-Aignan校区可能没有信号。值得一提的是，25欧的套餐可以无 限拨打国内的手机和固话。没有合同限制。子品牌b&amp;you ，无实体店。 <br /><strong id="Free">Free</strong>，有些地区信号很差，但Technop&ocirc;le有信号。无合同限制。20欧套餐 可无限拨打国内手机和固话。2欧套餐50M流量，2小时通话，无限短信。&nbsp;</p>
                </div>
                <br/>
                <div class="row">
                    <h2 id="WLJDH"><strong><span style="color: #ff6600;">网络机顶盒</span></strong></h2>
                    <p>网络机顶盒(Box Internet)集合：网络，电视和固定电话。法国每年征收 一次电视税，学生等零收入及低收入的人群，报税*后无需缴纳电视税。 <br />固定电话与手机共享套餐，如果使用固定电话的时间超过手机网络提供商 的规定时间，需要额外交费。 <br />选择和手机套餐同一运营商可能享受一定幅度的优惠。 <br />第一次订网络机顶盒，可能会交一笔60欧左右的网络盒子服务费，大部分 运营商不会退还该费用。退订盒子需要填写一封退订信，然后把信和盒子 及所有线与配套设施一起寄到网络提供商的总部。 <br /><br /></p>
                </div>
                <div class="row">
                    <h2 id="Tips"><strong><span style="color: #ff6600;">Tips</span></strong></h2>
                    <p id="WXDX"><strong>无限短信： <br /></strong>多数超过十欧的手机套餐（预付卡除 外），短信都可以任意时段无限量收 发，不过仅限法国本土或法国海外省。&nbsp;</p>
                    <p id="BHZYYS"><strong>保号转运营商:</strong></p>
                    <p>运营商经常网上进行套餐折扣，更改运 营商时可以保留自己的手机号。需要提 供自己的运营商身份证明号（RIO）， RIO号可以通过可以拨打电话3179或在 运营商官网进行查询。</p>
                    <p id="HTXZ"><strong>合同限制(Engagement)： </strong></p>
                    <p>部分套餐在一定时间内（一年）不能退 订，否则需要额外支付费用。不过如果 你退订的同时续订另一家网络提供商， 另一家可能会将部分钱补偿给你。&nbsp;</p>
                    <p id="BLTCSXZL"><strong>办理套餐所需资料: </strong></p>
                    <p>1.身份信息，即护照或者长居证 (Titre de s&eacute;jour)。 <br />2.银行信息，即RIB（Relev&eacute; d&rsquo;Identit&eacute; Bancaire）可以从法国银行的柜台或者 机器获取，也可以在法国银行app的网上 账户里中找到。&nbsp;</p>
                    <p id="BS"><strong>报税： </strong></p>
                    <p>在法国无收入学生也必须报税，在表单 的收入栏填零，否则可能收到电视和住 房税单。报税时间为每年四、五月份。</p>
                    <p>&nbsp;</p>

                </div>
                <div class="row">
                    <h2 id="JRNHMYFGYHZH"><strong><span style="color: #ff6600;">假如你还没有法国银行账户 <br></strong><img ng-src="../../images/生活指南2_运营商/OrangeLogo.png" alt="OrangeLogo.png" width="auto" height="80" />&nbsp;<img ng-src="../../images/生活指南2_运营商/freeLogo.png" alt="freeLogo.png" width="80" height="auto" />&nbsp;<img ng-src="../../images/生活指南2_运营商/sfrLogo.png" alt="sfrLogo.png" width="80" height="auto" />&nbsp;<img ng-src="../../images/生活指南2_运营商/bouygueLogo.png" alt="bouygueLogo.png" width="80" height="auto" /></span>
                    </h2>
                    <h3><span style="color: #ff6600;">办理预付卡或者特殊的国内运营商套餐</span></h3>
                    <p><strong>预付卡(Carte pr&eacute;pay&eacute;)</strong>，直接充钱就可以用，不需要银行RIB信息。有使用期限与套餐有效期，如果逾期不充值，手机卡将作废；如果超过套餐有效期，套餐将不再生效。Orange，Bouygues，SFR都有自己的价格套餐 ，都是充的越多，用的越久。在运营商处或者大超市可以购买。</p>
                    <p><br /><strong>注意：</strong>询问预付卡是否有拨打国际长途的服务，否则每分钟价格非常高 ，卡里的钱很快会被用完。</p>
                    <p><strong>&nbsp;例：</strong>Orange的预付卡套餐，买卡需要3.90&euro;， 购买后将赠5&euro;在卡内。</p>
                    <p><br /><strong>资费：</strong>法国呼叫：0.40&euro;/min，短信：0.10&euro;/条，流量： 0.50&euro;/Mo；往国内呼叫1.55&euro;/min。晚间21h至夜里24h在法 国本土可以无限发短信。初始套餐有效期为6天，套餐有效<br />期结束后需要重新充值。初始使用期限为一个月。 &nbsp;</p>
                </div>
            </div>
        </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
        <div class="panel" ng-show="vm.tab===3">
            <div id="menu" class="nav1">
                <h2><span>生活饮食</span></h2>
                <ul>
                    <li class="toc-entry toc-h2"><a href="#FC">法超</a></li>
                    <li class="toc-entry toc-h2"><a href="#JJYP">家具用品</a></li>
                    <li class="toc-entry toc-h2"><a href="#SYZX">商业中心</a></li>
                    <li class="toc-entry toc-h2"><a href="#ZCJZC">中超及中餐</a></li>
                </ul>
            </div>

            <div class="section">
                <br/>
                <h2 id="FC"><strong><span style="color: #993300;">法超</span></strong></h2>
                <br/>
                <p><strong><span style="color: #993300;">Carrefour：</span></strong> 山 上 (Mont-SaintAignan ) 的 超 大 家 乐 福（适 合 NEOMA的同学)。 <br />地址：ZAC De La Vatine, 76130 Mont Saint Aignan <br />时间：周一到周六（9:00-21:00） <br /><strong><span style="color: #993300;">E.Leclerc：</span></strong>地铁站旁，价格合 理的大型超市。Saint-Sever分店 周一至周六及周日早上营业， Technop&ocirc;le分 店 周 一 至 周 六 营 业。 <br /> <br />此外左岸还有平价超市Lidl, 市中 心有中型超市Monoprix, Simply， 便利店Spar以及右岸的中型超市 Intermarch&eacute;可供选择。</p>
                <p>&nbsp;</p>
                <h2 id="JJYP"><strong><span style="color: #993300;">家具用品</span></strong></h2>
                <br/>
                <p><strong><span style="color: #993300;">Conforama：</span></strong>公交可达，交通便利 <br />地址：122/128 Avenue du Mont Riboudet, 76000 Rouen <br />营业时间:周一到周六(10:00-19：00) <br />交通：T线 Jean Ango站 <br /><strong><span style="color: #993300;">宜家IKEA：</span></strong>位置较远，可乘火车或 F3到Oissel 站，转F线到Les Antes Nord 站下车或和有车的同学同去。 <br />地址：ZAC du Clos aux Antes, Avenue Gustave Picard, 76410 Tourvillela-Rivi&egrave;re <br />营业时间:周一到周六（10:00-20:00） <br />注：<strong>T线即为Teor线，快速公交线路， 有T1,T2,T3三条。</strong></p>
                <p>&nbsp;</p>
                <h2 id="SYZX"><span style="color: #993300;"><strong>商业中心</strong></span></h2>
                <br/>
                <p><strong><span style="color: #993300;">大钟街：</span></strong>市中心商业街</p>
                <p><strong><span style="color: #993300;">Saint-Sever:</span></strong> 内部含大型的超市 E.Leclerc，各种餐厅，服装店及电影院。 <br />地址： Avenue de Bretagne <br />营业时间：星期一至星期六（09:30&ndash; 20:00） 星期日（09:00&ndash;12:30） <br />交通：地铁(Saint sever站);公交车F1， 6，32（Place St sever站）。</p>
                <p><strong><span style="color: #993300;">Docks 76:</span></strong> 娱乐性更强，商家更多。顶 层有一个电影院和一个儿童游乐场。 <br />地址：1 Boulevard Ferdinand de Lesseps <br />营业时间：周一至周六（10:00&ndash;20:00） <br />交通：坐T1、T2或T3到Kindarena站。 <span style="color: #993300;"><strong><br /><br /></strong></span></p>
                <h2 id="ZCJZC"><strong><span style="color: #993300;">中超及中餐</span></strong></h2>
                <br/>
                <p><strong><span style="color: #993300;">&nbsp;
            <img ng-src="../../images/生活指南3_生活饮食/Map.png" alt="Map.png" width="650" height="auto" /></span></strong>
                </p>
                <blockquote>
                    <br />&nbsp;
                    <table style="height: 163px;" width="634">
                        <tbody>
                            <tr>
                                <td style="width: 309px;"><span style="color: #ff0000;"><strong>1. Asia Store：</strong></span>店面比较大，商品品种很多：15 Rue de la Vicomte</td>
                                <td style="width: 309px;"><span style="color: #333399;"><strong>1. 天子轩(Chez Yulin):&nbsp;</strong></span>35 Rue du Vieux Palais</td>
                            </tr>
                            <tr>
                                <td style="width: 309px;"><span style="color: #ff0000;"><strong>2. 九洲：</strong></span>1 Rue Guillaume le Conqu&eacute;rant</td>
                                <td style="width: 309px;">
                                    <p><strong><span style="color: #333399;">2. 姐姐家(Saveurs de Chine):</span>&nbsp;</strong>43 rue Saint-Eloi</p>
                                    <p>&nbsp;</p>
                                </td>
                            </tr>
                            <tr>
                                <td style="width: 309px;"><span style="color: #ff0000;"><strong>3. Bon App&eacute;tit：</strong></span>越南人开：98 Rue du G&eacute;n&eacute;ral Leclerc</td>
                                <td style="width: 309px;"><strong><span style="color: #333399;">3. Chez nou:</span>&nbsp;</strong>10 Rue Perci&egrave;re</td>
                            </tr>
                            <tr>
                                <td style="width: 309px;"><span style="color: #ff0000;"><strong>4. Dragon d&rsquo;Asie：</strong></span>有现做奶茶、动漫周边和KTV，7 rue Saint-Denis 5. L&rsquo;Asie：96 Rue Jeanne d'Arc</td>
                                <td style="width: 309px;"><span style="color: #333399;"><strong>4. 翠园(Au Jardin de Chine)：</strong></span>36 Rue Perci&egrave;re</td>
                            </tr>
                            <tr>
                                <td style="width: 309px;">&nbsp;</td>
                                <td style="width: 309px;"><span style="color: #333399;"><strong>5. 龙城(Le Palais d&rsquo;Asie)：</strong></span>33 rue saint Etienne des tonneliers</td>
                            </tr>
                            <tr>
                                <td style="width: 309px;">&nbsp;</td>
                                <td style="width: 309px;"><span style="color: #333399;"><strong>6. 拉面(HO Lamian)：</strong></span>243 Rue Eau de Robec</td>
                            </tr>
                            <tr>
                                <td style="width: 309px;">&nbsp;</td>
                                <td style="width: 309px;"><span style="color: #333399;"><strong>7. 东海龙珠(Perle d&rsquo;Asie)：</strong></span>2 Place de la R&eacute;publique</td>
                            </tr>
                        </tbody>
                    </table>
                    <p><strong>注：具体营业时间请以官网为准 </strong></p>
                </blockquote>
            </div>
        </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
        <div class="panel" ng-show="vm.tab===4">
            <div id="menu" class="nav1">
                <h2><span>运动</span></h2>
                <ul>
                    <li class="toc-entry toc-h2"><a href="#JS">健身</a></li>
                    <li class="toc-entry toc-h2"><a href="#LQ">篮球</a></li>
                    <li class="toc-entry toc-h2"><a href="#YY">游泳</a></li>
                    <li class="toc-entry toc-h2"><a href="#ZQ">足球</a></li>
                    <li class="toc-entry toc-h2"><a href="#WZ">网球</a></li>
                    <li class="toc-entry toc-h2"><a href="#LB">溜冰</a></li>
                </ul>
            </div>
            <div class="section">
                <h2 id="JS"><span style="color: #333399;"><strong>健身</strong></span></h2>
                <br>
                <p><strong><span style="color: #333399;">Planète Bien Etre:&nbsp;</span></strong>无入会费,NEOMA和ESIGELEC的同学可享受学生套餐,</p>
                <p>健身房比较小,但是氛围很好。价格:24.59欧/月,地址:13 Rue Racine。营 业时间:周一至周五9:30至21:00周六9:30至13:00,周日关门。</p>
                <p><span style="color: #333399;"><strong>Basic-Fit:&nbsp;</strong></span>有入会费。这家健身房面积比较大,设备齐全,平时经常有促销,</p>
                <p>感兴趣的同学可持续关注。价格:19.99欧/月。地址:69-75 rue Saint Sever。 营业时间:周一至周五8:00至22:30,周六周日9:00至16:00。</p>
                <p><span style="color: #333399;"><strong>Studio Fitness:</strong></span> 鲁昂最大最豪华的健身房,课程种类非常多,可免费试体 验。价格29欧/月,地址:4 Quai de Boisguilbert。营业时间:每日6:00&ndash;23:00</p>
                <blockquote>注意:部分健身房有入会费,即注册费用,价格约为一个月的锻炼费用。</blockquote>
                <p>&nbsp;</p>

                <div class="column">
                    <h2 id="LQ"><span style="color: #333399;"><strong>篮球</strong></span></h2>
                    <br>
                    <p><strong><span style="color: #333399;">INSA体育场:&nbsp;</span></strong>INSA学校自己的体育 场,可乘坐地铁至Technopôle站</p>
                    <p><strong><span style="color: #333399;">Gymnase Thuilleau:&nbsp;</span></strong>拥有多个室外篮 球 场,可 乘 坐Teor1,2,3到Martainville 站, 地址:1 rue d&rsquo;Amiens。</p>
                    <p><strong><span style="color: #333399;">Centre Sportif Alain Calmat:&nbsp;</span></strong>有室外 篮球场,还提供攀岩等各种运动设施, 详情请至体育场接待处或其官网查询。 地址:Avenue Buccholz。</p>
                    <p>&nbsp;</p>

                    <div class="column">
                        <h2 id="YY"><span style="color: #333399;"><strong>游泳</strong></span></h2>
                        <br>
                        <p><strong><span style="color: #333399;">Piscine Guy-Boissière(推荐):&nbsp;</span></strong>室内有一个为深度约2米的8道25m泳池,还有一个儿童戏水池。室外为奥运会标准 泳池,10道50m*25m,深度为2m。鲁昂学生单次入场费为3.05欧,需要携带住房证明及学生证,其他学生携学生证单次入 场费为3.80欧。鲁昂学生可以购买30.3欧的12次不记名票。官网:www.rouen.fr/adresse/piscine-guy-boissiere。</p>
                        <p>地址:Centre sportif Guy-Boissière, Allée du Docteur Duchêne, Ile Lacroix(鲁昂东侧,塞纳河岛上)。</p>
                        <p>营业时间:周一,周四:10:00至20:30,周二,周三,周五:10:00至19:30,双休日:10:00至17:30。</p>
                        <p><strong><span style="color: #333399;">Piscine Eurocéane:&nbsp;</span></strong>拥有室内(6道25m)及室外泳池(6道50m),场馆内提供大型螺旋滑梯及各类按摩泳池,还拥 有一个健身房和一家餐厅。不过需要注意的是,健身与游泳是分开算价钱的。健身一次16.4欧,游泳入场费为5.1欧/次,住 在 Mont Saint-Aignan的同学为3.6欧/次,需要带好身份证件及房屋合同。</p>
                        <p>地址:1 Rue du Dr Fleury。营业时间以官网信息 为准:www.vert-marine.com/euroceane-mont-saint-aignan 76/piscine.php#contenu。</p>
                        <p>还有其他的游泳馆,可以在谷歌上搜索Piscine进行查找。所有公共游泳馆都有针对大学生的优惠。</p>
                        <p>&nbsp;</p>
                        <div class="column">
                            <h2 id="ZQ"><strong><span style="color: #333399;">足球</span></strong></h2>
                            <p>鲁昂有一个鲁昂中国业余足球队,成员以在鲁昂读书的大学生为主,大部分周末都会有训练。</p>
                            <p>地址:Mont Saint Aignan的 鲁昂大学附近,可以乘坐Teor 1到Campus站。感兴趣的同学可以联系足球队负责人之一的王同学,微信号:arthurhaoran</p>
                        </div>
                        <p>&nbsp;</p>
                        <h2 id="WQ"><strong><span style="color: #333399;">网球</span></strong></h2>
                        <p><strong><span style="color: #333399;">Tennis Club de Rouen:&nbsp;</span></strong>拥有8个室内场,6个室外场,需要加入俱乐部成为会员后,才可以预定场地。25岁以下大学 生一年的入会费为169欧。初学者可以购买课程进行学习。</p>
                        <p>地址:Espace petite bouverie,20 Allée Pierre de coubertin。 可以乘坐T2到Châtelet站后,开谷歌沿地图走过去。营业时间:周一至周五:9:00至22:00,双休日:9:00至19:00。</p>
                        <p>&nbsp;</p>
                        <h2 id="LB"><strong><span style="color: #333399;">溜冰</span></strong></h2>
                        <p><span style="color: #333399;"><strong>Patinoire de Rouen:&nbsp;</strong></span>拥有一条60*30m奥林匹克赛道以及一条56*26m缓速赛道。携学生证和鲁昂(76000,76100)住 房证明,一次入场费为3.90欧,其他同学携学生证,单次入场费为4.90欧。场馆可以租冰鞋,尺码为25至49,租赁费为 3.35欧。</p>
                        <p>地址:Patinoire Guy-Boissière, Allée du Docteur Duchêne, Ile Lacroix。营业时间以官网信息为准。</p>
                        <blockquote>注:具体营业时间请以官网为准</blockquote>
                    </div>
                </div>
            </div>
        </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
        <div class="panel" ng-show="vm.tab===5">
            <div id="menu" class="nav1">
                <h2><span>娱乐</span></h2>
                <ul>
                    <li class="toc-entry toc-h2"><a href="#DY">电影</a></li>
                    <li class="toc-entry toc-h2"><a href="#TQ">台球</a></li>
                    <li class="toc-entry toc-h2"><a href="#CS">激光CS</a></li>
                    <li class="toc-entry toc-h2"><a href="#KTV">KTV</a></li>
                </ul>
            </div>
            <div class="section">
                <div class="column">
                    <h2 id="DY"><strong><span style="color: #ff0000;">电影</span></strong></h2>
                    <p>大学生观影一般都享有优惠,记得带好自己的学生证,单价5到7欧。</p>
                    <p><strong><span style="color: #ff0000;">Kinepolis:&nbsp;</span></strong>世界流行电影,可看3D电影,价格可能稍高。地址:左岸商业中心,Centre commercial Saint-Sever。</p>
                    <p><strong><span style="color: #ff0000;">Cinéma Pathé:&nbsp;</span></strong>世界流行电影,提供IMAX巨幕影厅及3D影厅。地址:Boulevard Ferdinand de Lesseps,Docks 76内。</p>
                    <p><strong><span style="color: #ff0000;">Cinéma Omnia République:&nbsp;</span></strong>电影种类更偏向于艺术与人文方面的高评价的电影,没有IMAX与3D影厅,影厅比较大。 地址: 28 Rue de la République。</p>
                    <p>&nbsp;</p>
                    <h2 id="TQ"><strong><span style="color: #ff0000;">台球</span></strong></h2>
                    <p>营业时间一般为下午和晚上。<br /> <strong><span style="color: #ff0000;">LE SNOOKER BOWL:</span></strong> 鲁昂第一大台球馆,内部还兼有酒吧,餐厅和保龄球。大概有20桌台球桌,包含斯诺克和花式台</p>
                    <p>球,一局2欧或者一小时10欧。保龄球周一至周五一局6欧,双休日一局8欧。地址:Hangar 9 Quai Ferdinand Lesseps。</p>
                    <p><strong><span style="color: #ff0000;">Américan Pub Billard:</span></strong> 鲁昂第二大的台球馆,共有台球桌17桌,周一周四一小时6欧,其余时间一小时12欧,附带餐厅与</p>
                    <p>酒吧。地址:13 Quai du Paris。</p>
                    <p>&nbsp;</p>
                    <h2 id="CS"><strong><span style="color: #ff0000;">激光CS</span></strong></h2>
                    <p>鲁昂有两家激光CS,都有可供畅饮畅玩的套餐可以选择。</p>
                    <p><strong><span style="color: #ff0000;">Docks Laser Rouen:&nbsp;</span></strong>鲁昂最大激光CS游戏馆,分为四大区域,250平方米迷宫区,适合2至20人,500平方米宇宙飞船 区,适合2至20人,700平方米外星森林区,适合15至30人,1200平方米混合区,适合25至40人。游戏馆内除了激光CS,还 有一个游戏机厅,不过需要先兑换代币才能玩。学生套餐有两种,一种是7欧一局但是只针对三十人以上的团,第二种套餐 为18欧,可玩无限局数,饮料无限,可以提供代币去玩游戏机,学生套餐必须出示学生证。地址:19 Rue de Constantine。 营业时间:周一关门,工作日:约15:00至0:00,周六:10:00至2:00 ,周日:10:00至22:00。</p>
                    <p><strong><span style="color: #ff0000;">Laser Game Evolution ROUEN:</span></strong>鲁昂第二大的激光CS游戏馆,是经典激光CS游戏,场馆面积比较小,拥有比较多的套餐 可供选择,地址:HANGAR 9 Quai Ferdinand de Lesseps, Boulevard Ferdinand de Lesseps。营业时间:周一关门,工作 日:15:30至凌晨,周六:10:00至2:00 ,周日:13:00至23:00。</p>
                    <p>&nbsp;</p>

                    <div class="column">
                        <h2 id="KTV"><strong><span style="color: #ff0000;">KTV</span></strong></h2>
                        <p><strong><span style="color: #ff0000;">Dragon d'Asie:</span></strong> 集KTV、桌游及奶茶为一体的娱乐中心。拥有国内一线KTV标准的专业音响,可容纳12人的超大包间, 联网最新最全歌单。还有只言片语,卡卡颂等桌游可供选择。此外丰富的酒水零食,以及配有冰箱的超大会客厅,也可以满足 生日聚会聚餐的需求。详询陈先生,电话 06 58 26 16 17。<br /> 地点:7 rue Saint-denis, 76000 Rouen</p>
                        <P>公交T线Rue république站,圣母大教堂东侧200m) 营业时间 :周二到周天 10:00-19:00 (周一关门)</P>
                    </div>
                    <table>
                        <tr>
                            <td>
                                <img ng-src="../../images/生活指南5_娱乐/娱乐1.png" alt="娱乐.png" width="400" height="auto" />
                                <blockquote>KTV店面</blockquote>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            </td>
                            <td>
                                <img ng-src="../../images/生活指南5_娱乐/娱乐2.png" alt="娱乐.png" width="300" height="auto" />
                                <blockquote>KTV内景</blockquote>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
        <div class="panel" ng-show="vm.tab===6">
            <div id="menu" class="nav1">
               <h2><strong>房补</strong></h2>
                <ul>
                    <li class="toc-entry toc-h2"><a href="#SMY">什么样的人可以享受CAF住房补贴?</a></li>
                    <li class="toc-entry toc-h2"><a href="#TIP">TIPS</a></li>
                    <li class="toc-entry toc-h2"><a href="#SQ2">申请房补的两种方式</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#WS">网上申请</a></li>
                        <li class="toc-entry toc-h3"><a href="#BSC">办事处现场申请</a></li>
                        <li class="toc-entry toc-h3"><a href="#JBCL">基本材料</a></li>
                    </ul>
                </ul>
            </div>
            <div class="section">
                
                <div class="column">
                    <h2 id="SMY"><strong><span style="color: #333399;">什么样的人可以享受CAF住房补贴?</span></strong></h2>
                    <p>在法国持有超过三个月的长期居留 已经租住(或合租)一套房屋 与房东没有亲属关系 收入很少或没有收入(年收入小于12000欧)</p>
                    <blockquote>注:最多领取一套房屋的房补</blockquote>
                    <p>&nbsp;</p>
                </div>
                <div class="column">
                    <h2 id="TIP"><strong><span style="color: #333399;">Tips</span></strong></h2>
                    <p><strong>CAF</strong>,全称是 Caisse d'Allocations Familiales。法国政府对于 在法居住的符合一定条件的合法居民,都会提供这个补贴的福 利。CAF的补助范围涉及很多方面,主要是家庭补助和房屋补 助,而和留法学生关系最密切的就是房屋补助了。</p>
                    <p>学生合租类单人申请房补一般为92欧,单人studio房补可以超 过100欧,情侣房补可超过280欧,具体情况可在网站上根据 房子的具体情况做预估(详情看后文)</p>
                    <blockquote>注:无需证明材料,情侣同居填表即可申请情侣房补。</blockquote>
                    <br>
                    <div class="column">
                        <h2 id="SQ2"><strong><span style="color: #333399;">申领房补的两种方式:</span></strong></h2>
                        <div class="column">
                            <h3 id="WS"><strong><span style="color: #333399;">1.网上申请</span></strong></h3>
                            <p>1. 首先登入CAF官网 (www.caf.fr),稍微滚动下拉 主 页,找 到Les Services en Ligne 里 面 的 Demander Une Prestation,点击进行房补申请。</p>
                            <p>2. 然后就会看到 &ldquo;Vous êtes allocataire&rdquo;(已经是 CAF注 册 用 户)和 &ldquo;Vous n'êtes pas alloca- taire&rdquo;(未注册过CAF的用户),根据自己情况做出 相应选择。</p>
                        </div>
                        <div class="column">
                            <p>3. 进入到新页面后点击第一个Aide au logement, 然后选择&ldquo;Vous souhaitez faire une demande d'aide au logement&rdquo;,将自己相关信息完成,然后设置完密码,账户就申请成功了。对于不确定的词善用谷歌翻译。想要对 自己房补进行估算的同学可以点击&ldquo;Vous souhaitez faire une simulation&rdquo;。</p>
                            <blockquote>注意:最好填写常用邮箱,因为CAF经常会发邮件进行联系。你可以用这个账户查到自己的房补是否到账,有房 补未到账问题也可以直接在APP或者官网上查询原因。</blockquote>
                            <img ng-src="../../images/生活指南6_房补/房补1.png" alt="房补.png" width="400px" height="auto" />
                            <blockquote>CAF官网界面</blockquote>
                            <h3 id="BSC"><strong><span style="color: #333399;">2.办事处现场申请</span></strong></h3>
                            <p>CAF办事处地址: 4 Rue des Forgettes, 76000 Rouen, France。</p>
                            <p>交通方式:5号车(Coulon站下车,步行两分钟)</p>
                            <p>没有账户也可以直接去CAF找工作人员创建账户及办理房补,但由于账户建立时间和你领取房补的时间息息相 关,建议提早先在网上建立账户。</p>
                            <p>有了账户后就可以开始去CAF拿表格填写和准备资料了,表格不止一张,有一张需要给房东签字(attestation de loyer)。住学生公寓的同学也可以直接找学生公寓的Acceuil拿表格填写。如果遇到问题的话,记得要和CAF的工 作人员咨询清楚,比方说不清楚怎么填,还缺什么资料之类的。</p>
                            <h3 id="JBCL"><strong><span style="color: #333399;">3. 基本材料:</span></strong></h3>
                            <p>有效护照复印件/长居卡复印件(Carte de Séjour),出生证的双认证,租房合同(Contrat de Location),银行</p>
                            <p>帐号(RIB),学生证复印件(Carte d'Etudiant)以及填好的申请表。</p>
                            <blockquote>注意事项:1. 准确填写入住日期等信息,如果存在欺诈行为,可能被要求返还房补。 2. 申请的第二个月起才有房补。</blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
        <div id="panel_7" class="panel" ng-show="vm.tab===7">
            <!-- <h3>就医指南</h3>
         <p>...</p> -->
            <div class="row">
                <div style="padding: 10px;"></div>
                <div class="col-sm-2">
                    <img ng-src="../../images/生活指南7_就医指南/logo-就医指南.png" width="200">
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-9">
                    <h5>注意：如果有<b>紧急情况</b>发生，请拨打以下号码:</h5>
                    <hr>
                    <p><span class="glyphicon glyphicon-triangle-right"></span>紧急医疗急救（SAMU ） 15</p>
                    <p><span class="glyphicon glyphicon-triangle-right"></span>消防救援（Sapeurs-pompiers ） 18</p>
                    <p><span class="glyphicon glyphicon-triangle-right"></span>欧洲急救号码 112</p>
                </div>
            </div>
            <br>
            <div class="row">
                <p>在中国，生病一般会直接去医院，但是在法国，普通生病是先找医生，医生无法解决或者情况紧急需要处理时才去医院，因为在医院的等待时间总是非常长。</p>
                <p>医生地址：谷歌搜索医生:Docteur，或搜索全科医生：Médecin généraliste。</p>
                <p>医院地址：CHU-Hôpitaux de Rouen, 1 Rue de Germont, 76000 Rouen</p>
                <p>鲁昂除了医院，还有很多诊所Clinique，其实相当于小型医院，当你的主治医生没有足够的医疗工具判断你的病情时，会让你去Clinique，比如让你去拍摄X光。</p>
            </div>
            <br><br>
            <div class="row">
                <h4>法国社会医疗保险:</h4>
                <p>社会医疗保险是法国的基本社会保障制度，任何合法并且长居法国的人均可享受报销全部或者部分的医疗支出。16周岁以上的中国学生，必须缴纳社会医疗保险费。2016-2017学年度，应缴纳215欧元。若是在法国学习至少三个月的学生，其所属的教育机构将向法国医疗保险局缴费。若是原来居住在欧洲或是魁北克省的拥有医疗保险卡至2018年8月31日的学生，则不需要缴纳保险费用。</p>
            </div>
            <br><br>
            <div class="row">
                <h4>emeVia网:</h4>
                <p>在法国最大的大学生互助保险公司的官方网站，针对在法国不同地区的学生提供超过142个就近学生互助保险分公司，在鲁昂，即SMENO。所有分公司，均以银行汇款的方式进行报销。所有购买过法国社会保险的同学，可在各自所属的分公司（SMENO）的官方网站（<a href="https://www.smeno.com/" target="blank">www.smeno.com</a>）的个人空间（Espace person-nel）追踪自己的报销情况。</p>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-8">
                    <img ng-src="../../images/生活指南7_就医指南/就医步骤.png" width="798">
                    <div class="row">
                        <br>
                        <h4>国家医疗保险卡（Carte vitale）</h4>
                        <p>医疗保险卡由SMENO提供，可简化诊疗手续。每次看病出示此卡将自动向SMENO上传虚拟的社会医疗保险补助单，之后将在48小时内给你报销。制作这张卡至少需要一个月的时间，完成后将寄到同学们的住址。这张卡不是一张支付卡。在同学们收到终身社会医疗保险号码前，将不会发放医疗保险卡。若无法立即得到终身医疗保险号码，SMENO将会提供给你们一张医保权利证明，它可在在线个人空间里找到，能证明你们享有医保权利。</p>
                        <img class="aligncenter" ng-src="../../images/生活指南7_就医指南/医保卡.png">
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>法国的治疗费用</h4>
                    <p><span class="glyphicon glyphicon-triangle-right"></span>全科医生（通科医生）25欧元，专科医生（含皮肤科，妇产科，眼科等）25欧元起。如果预约了自己的全科（主治）医生，而且参保的是最低额的套餐，社会保障中心（即SMENO），将<b>报销70%</b>的诊疗费并扣除1欧的会诊费。也就是说，看一次全科医生可报销16.50欧元。
                    </p>
                    <br>
                    <p><span class="glyphicon glyphicon-triangle-right"></span>主治医生：在法国，同学们必须选择自己的全科（主治）医生（可以问学校推荐或网上搜索），他将是在你们在法国居留期间为你诊疗的医生。
                    </p>
                    <br>
                    <p>在选择好自己的主治医生后，需和该主治医生签署一份《主治医生选择声明》 （可在网上下载或在就医过程中当场填写），并把表格交给SMENO，SMENO会自动帮你和医生绑定。
                        <br>
                    </p>
                    <p>根据病情的治疗需要，主治医生会帮你转诊至专科医生或安排进一步的专项检查。某些专科医生无需主科医生转诊，可直接求诊，像是眼科，妇科，精神科，以及牙科。不过这些专科医生的诊疗费用并不包含在法国基本社会保险的报销范围内。</p><br>
                    <p><b>注意：</b>如果不签署主治医生，将无法对门诊费用进行报销。紧急情况除外，可以和医生进行沟通。</p>
                    <div class="row">
                        <img ng-src="../../images/生活指南7_就医指南/针.png">
                        <img ng-src="../../images/生活指南7_就医指南/听诊器.png">
                        <img ng-src="../../images/生活指南7_就医指南/牙齿.png">
                        <img ng-src="../../images/生活指南7_就医指南/脑部.png">
                    </div>
                </div>
            </div>
            <img ng-src="../../images/生活指南7_就医指南/分割线.png">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-11">

                    <h4>补充健康保险（Complémentaire Santé)或补充互助保险 (Mutuelle Complémentaire)</h4><br>
                    <p>由于法国社会医疗保险只报销问诊费的70%，处方药及特殊疗法也只部分报销。若是遇到骨折或者是扭伤脚踝等，需要专业的运动疗法的服务时，除去社保报销的部分，余下的部分价格仍然很贵，举例如下:</p>

                    <table id="customers">
                        <tr>
                            <th>医疗</th>
                            <th>支出</th>
                            <th>社会医疗保险比例</th>
                            <th>社会保险报销金额</th>
                        </tr>
                        <tr>
                            <td>专业医生诊疗(自付1欧)</td>
                            <td>28欧元</td>
                            <td>70%</td>
                            <td>18.6欧元</td>
                        </tr>
                        <tr class="alt">
                            <td>X射线透视检查(自付1欧)</td>
                            <td>61欧元</td>
                            <td>70%</td>
                            <td>41.7欧元</td>
                        </tr>
                        <tr>
                            <td>药物三盒(自付1.5欧)</td>
                            <td>40欧元</td>
                            <td>65%</td>
                            <td>24.5欧元</td>
                        </tr>
                        <tr class="alt">
                            <td>运动疗法十二次(自付6欧)</td>
                            <td>193.5欧元</td>
                            <td>60%</td>
                            <td>110.1欧元</td>
                        </tr>
                    </table>
                    <br>
                    <p>医疗总支出322.5欧元，除去小额自付费用，社保报销194.9欧元，若未购买补充健康保险或补充互助保险，还需支付127.6欧元。若不希望自行承担该费用，可购买Smeb’autonomie，提高赔偿比例，费用为每月12欧元。投保后，会收到一张第三方承付卡，即Carte Mutualiste。详情请谷歌搜索 “Smeb’autonomie” 进行了解。</p>
                    <br>
                    <h5>学生实习保险:</h5>
                    <p>实习时，学生必须购买一份民事责任保险。同样的，在法国租房和驾车也必须购买保险。SMENO有提供有关套餐，详情可至SMENO办事点咨询。</p>
                </div>
            </div>
        </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->

        <div id="panel_8" class="panel" ng-show="vm.tab==8">

            <div class="col-sm-3" style="margin-top: 100px;">
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#法国三大银行">法国三大银行</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="#LCL">LCL</a></li>
                            <li class="toc-entry toc-h3"><a href="#BNP Paribas">BNP Paribas</a></li>
                            <li class="toc-entry toc-h3"><a href="#Société Générale">Société Générale</a></li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#RIB">RIB</a></li>
                    <li class="toc-entry toc-h2"><a href="#手续">手续</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="#开户">开户</a></li>
                            <li class="toc-entry toc-h3"><a href="#额度">额度</a></li>
                            <li class="toc-entry toc-h3"><a href="#透支">透支</a></li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#账户类型">账户类型</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="#Livret Jeune">Livret Jeune</a></li>
                            <li class="toc-entry toc-h3"><a href="#Livret A">Livret A</a></li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#银行卡">银行卡</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="#丢卡">丢卡</a></li>
                            <li class="toc-entry toc-h3"><a href="#吞卡">吞卡</a></li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#支票">支票</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="#填写支票">填写支票</a></li>
                            <li class="toc-entry toc-h3"><a href="#收支票">收支票</a></li>
                        </ul>
                    </li>
                    <li class="toc-entry toc-h2"><a href="#现金">现金</a>
                        <ul>
                            <li class="toc-entry toc-h3"><a href="#取现">取现</a></li>
                            <li class="toc-entry toc-h3"><a href="#来法须知">来法须知</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9" style="margin-top: 100px;">
                <h3 id="法国三大银行" style="padding-bottom: 25px;">法国三大银行</h3>
                <div ng-repeat="bank in vm.data_8.banks">
                    <div class="row row-content" id="{{bank.title}}">
                        <!-- <div class="col-xs-12 col-sm-2" id="{{bank.title}}">
                                  <p style="padding:10px;"></p>
                                  <h3 align=center>{{bank.title}}</h3>
                               </div> -->
                        <div class="col-xs-12 col-sm-12">
                            <div class="media">
                                <div class="media-body">
                                    <!-- <h2 class="media-heading">promotion.name
                                 <span class="label label-danger">promotion.label</span>
                                 <span class="badge">promotion.price|currency</span>
                             </h2> -->
                                    <p>{{bank.description}}</p>
                                </div>
                                <div class="media-right media-middle">
                                    <a href="{{bank.url}}" target="_blank">
                              <img ng-src="{{bank.image}}" height="120">
                            </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
                <div style="padding-top: 25px;"></div>
                <div>
                    <h3 id="{{vm.data_8.RIB.title}}">{{vm.data_8.RIB.title}}</h3>
                    <br>
                    <p>{{vm.data_8.RIB.description}}</p>
                    <p>{{vm.data_8.RIB.description1}}</p>
                    <hr>
                </div>
                <h3 id="手续" style="padding: 25px 0;">手续</h3>
                <div ng-repeat="data in vm.data_8.shouxu">
                    <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <p>{{data.description1}}</p>
                    <p>{{data.description2}}</p>
                    <hr>
                </div>
                <h3 id="账户类型" style="padding: 25px 0;">账户类型</h3>
                <div ng-repeat="data in vm.data_8.account">
                    <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <hr>
                </div>
                <h3 id="银行卡" style="padding: 25px 0;">银行卡</h3>
                <div ng-repeat="data in vm.data_8.card">
                    <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <p>{{data.description1}}</p>
                    <p>{{data.description2}}</p>
                    <p>{{data.description3}}</p>
                    <p>{{data.description4}}</p>
                    <hr>
                </div>
                <h3 id="支票" style="padding: 25px 0;">支票</h3>
                <div ng-repeat="data in vm.data_8.check">
                    <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <hr>
                </div>
                <h3 id="现金" style="padding: 25px 0;">现金</h3>
                <div ng-repeat="data in vm.data_8.cash">
                    <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <p>{{data.description1}}</p>
                    <p>{{data.description2}}</p>
                    <hr>
                </div>
            </div>
        </div>
<!-- ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo -->
        <div id="panel_9" class="panel" ng-show="vm.tab===9">
            <div ng-repeat="app in vm.data_9">
                <div class="row row-content">
                    <div class="col-xs-12 col-sm-3">
                        <p style="padding:10px;"></p>
                        <h3 align=center>{{app.title}}</h3>
                    </div>
                    <div class="col-xs-12 col-sm-9">
                        <div class="media">
                            <div class="media-body">
                                <!-- <h2 class="media-heading">promotion.name
                           <span class="label label-danger">promotion.label</span>
                           <span class="badge">promotion.price|currency</span>
                           </h2> -->
                                <p>{{app.description}}</p>
                            </div>
                            <div class="media-right media-middle">
                                <a href="{{app.url}}" target="_blank">
                        <img ng-src="{{app.image}}" height="120">
                        </a>
                            </div>
                        </div>
                        <hr>
                    </div>

                </div>
            </div>
        </div>
    </div>


</div>
</div>
