<div id="guides">
    <div class="xttblog container">  
     <ul class="box row"> 
      <div class="row">
        <li class="col-sm-4 col-xs-12"><p onclick="location.href='home/guides&id=1'">交通</p></li>
        <li class="col-sm-4 col-xs-12"><p onclick="location.href='home/guides&id=2'">运营商</p></li>
        <li class="col-sm-4 col-xs-12"><p onclick="location.href='home/guides&id=3'">生活饮食</p></li>
      </div> 
      <div class="row">
        <li class="col-sm-4 col-xs-12" onclick="location.href='home/guides&id=4'"><p>运动</p></li>
        <li class="col-sm-4 col-xs-12" onclick="location.href='home/guides&id=5'"><p>娱乐</p></li>
        <li class="col-sm-4 col-xs-12" onclick="location.href='home/guides&id=6'"><p>房补</p></li>
      </div>
      <div class="row">
        <li class="col-sm-4 col-xs-12" onclick="location.href='home/guides&id=7'"><p>就医指南</p></li>
        <li class="col-sm-4 col-xs-12" onclick="location.href='home/guides&id=8'"><p>银行</p></li>
        <li class="col-sm-4 col-xs-12" onclick="location.href='home/guides&id=9'"><p>应用推荐</p></li>
      </div>
      
     </ul>  
    </div>
</div>
