<div id="guides">
    <div class="xttblog">  
     <ul class="box row">  
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/1'">交通</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/2'">运营商</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/3'">生活饮食</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/4'">运动</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/5'">娱乐</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/6'">房补</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/7'">就医指南</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/8'">银行</li>
      <li class="col-sm-4 col-xs-4" onclick="location.href='home/guides/9'">应用推荐</li>
     </ul>  
    </div>
</div>
