<!-- <div class="row guide_divs">
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">交通</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">运营商</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">生活饮食</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">运动</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">娱乐</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">房补</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">就医指南</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">银行</a></div>
   <div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">应用推荐</a></div>
   </div> -->
<ul class="nav nav-pills guide_navs">
   <li style="padding: 6px;"></li>
   <li ng-class="{ active: vm.tab===1 }" class="guide_nav">
      <a href="" ng-click="vm.tab=1">
         <h5>交通</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===2 }" class="guide_nav">
      <a href="" ng-click="vm.tab=2">
         <h5>运营商</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===3 }" class="guide_nav">
      <a href="" ng-click="vm.tab=3">
         <h5>生活饮食</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===4 }" class="guide_nav">
      <a href="" ng-click="vm.tab=4">
         <h5>运动</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===5 }" class="guide_nav">
      <a href="" ng-click="vm.tab=5">
         <h5>娱乐</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===6 }" class="guide_nav">
      <a href="" ng-click="vm.tab=6">
         <h5>房补</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===7 }" class="guide_nav">
      <a href="" ng-click="vm.tab=7">
         <h5>就医指南</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===8 }" class="guide_nav">
      <a href="" ng-click="vm.tab=8">
         <h5>银行</h5>
      </a>
   </li>
   <li ng-class="{ active: vm.tab===9 }" class="guide_nav">
      <a href="" ng-click="vm.tab=9">
         <h5>应用推荐</h5>
      </a>
   </li>
</ul>
<div class="container">
   <div class="row">
      <div class="panel" ng-show="vm.tab===0" style="height: 600px;"></div>
      <div class="panel" ng-show="vm.tab===1">
          <div class="row">
           <h1>交通</h1>
              <ul>
                  <li class="toc-entry toc-h2"><a href="#DT&GJ">地铁&amp;公交</a></li>
                <ul>
                    <li class="toc-entry toc-h3"><a href="#GP">购票</a></li>
                    <li class="toc-entry toc-h3"><a href="#BLGJK">办理公交卡</a></li>
                    <li class="toc-entry toc-h3"><a href="#SXCL">所需材料</a></li>
                    <li class="toc-entry toc-h3"><a href="#BBDZ">办理地址</a></li>
                    <li class="toc-entry toc-h3"><a href="#YYSJ">营业时间</a></li>
                    <li class="toc-entry toc-h3"><a href="#ZYSX">注意事项</a></li>
                </ul>
                 <li class="toc-entry toc-h2"><a href="#DGLJC&ALJCJTFX">戴高乐机场&amp;奥利机场交通方式</a></li>
                  <ul>
                     <li class="toc-entry toc-h3"><a href="#JCDB">机场大巴</a></li>
                     <li class="toc-entry toc-h3"><a href="#HC">火车</a></li> 
                  </ul>
                 <li class="toc-entry toc-h2"><a href="#HC1">火车</a></li>
                  <ul>
                      <li class="toc-entry toc-h3"><a href="#BKCL">办卡材料</a></li>
                      <li class="toc-entry toc-h3"><a href="#WSBK">网上办卡</a></li>
                      <li class="toc-entry toc-h3"><a href="#SNCFGW">SNCF官网</a></li>
                  </ul>
              </ul>
          </div>
          
        
         <br/>
         <h2 id="DT&GJ"><strong><span style="color: #993366;">地铁&amp;公交&nbsp;&nbsp;&nbsp;<img ng-src="../../images/生活指南1_交通/AstuceLogo.png" alt="AstuceLogo.PNG" width="190" height="80" /></span></strong></h2>
         <p><br /><strong id="CX"><span style="color: #993366;">查询：</span></strong>可以通过APP R&eacute;
            seau Astuce 或 www.reseauastuce.fr 网页查询所有可行路线和时刻表。
         </p>
         <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img ng-src="../../images/生活指南1_交通/AstucePhonePage.png" alt="AstucePhonePage.PNG" width="350" height="auto" />
         </p>
         <p> &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #993366;">Astuce手机软件界面</span>
         </p>
         <p id="GP"><br /><strong><span style="color: #993366;">购票：</span></strong>鲁昂地铁和公交的票是通用的。可在所有地铁站或市中 心T线巴士站
            的机器上用银行卡或硬币购买，推荐否买10次青 年票（Jeune 10 voyages）约8.4欧。搭乘公交时也可以上车后 跟司机买单次票 。
         </p>
         <p id="BLGJK"><br /><strong><span style="color: #800080;">办理公交卡：</span></strong>如果乘坐公共交通的次数比较多，建议直接办 理月卡或年卡。
            26岁以下可以办理约26.5欧的青年月票Demitarif 31 jours 或 约240欧的青年年票Demi-tarif 365 jours。
            <br /><strong><span style="color: #993366;">所需材料：</span></strong>护照或者长居卡（Titre de s&eacute;jour），住房证明，
            证件照 （3 x 3 cm规格，浅底彩色）。
            <br /><strong><span style="color: #993366;">办卡地址：</span></strong>Astuce服务点 ：Agence ASTUCE, 9 Rue Jeanne d'Arc, 76000
            Rouen, Th&eacute;&acirc;tre des Arts 站或火车站。
         </p>
         <p id="YYSJ"><br /><strong><span style="color: #993366;">营业时间：</span></strong>周一至周五 7：00 &ndash; 19:00，周六9:30 &ndash; 17:30</p>
         <p id="ZYSX"><br /><strong><span style="color: #800080;">注意事项： </span></strong><br />
            <strong><span style="color: #993366;">检票：</span></strong>记得打卡！！！法国的公共交通会抽查式检票， 逃票被抓至少会被罚45欧。 <br />
            <strong><span style="color: #993366;">停车：</span></strong>搭公交车的时候, 记得提前按门旁边扶手上的红色 Stop / Arr&ecirc;t 按钮，不然
            车可能会不停。 <br />
            <strong><span style="color: #993366;">转乘：</span></strong>车票一小时内可无限次转乘，第一次转乘后打 卡，会出现一个&ldquo;C&rdquo;, 代
            表Correspondance（转乘）。
         </p>
         <br/><br/>
         <h2 id="DGLJC&ALJCJTFX"><strong><span style="color: #993366;">巴黎戴高乐&amp; 奥利机场交通方式</span></strong></h2>
         <p id="JCDB"><strong><span style="color: #993366;">机场大巴：</span></strong>可乘坐Ouibus或Flixbus大巴从鲁昂到巴黎戴高乐 机场（CDG），价格
            实惠（10到20欧），行程约为两到三个半 小时（Ouibus途经Beauvais机场）。巴黎停靠点位于T3航站 楼，要去其他航站楼可以搭乘机场内的轻轨，鲁
            昂停靠点在左 岸，33 Avenue Champlain 。建议提前一个月在官网确认大巴 到达时间并购票。到奥利机场(ORLY)没有直达大巴。
         </p>
         <p id="HC"><strong><span style="color: #993366;">火车：</span></strong>先乘火车从鲁昂到巴黎St-Lazare火车站，（9 到18欧）。然后，方法一、
            转地铁14号线去Paris Nord 或Chatel&ecirc;t站（人流很大，小心财物）搭乘地铁RER-B 线直达戴高乐机场（约10欧），或反向搭乘RER-B到
            Antony站转地铁去奥利机场。务必注意方向，还有无 视陌生人的搭讪！！方法二、走路十分钟或乘公共交通 至Op&eacute;ra站附近的机场收费大巴Ro
            issybus停靠点，乘 机场大巴。
         </p>
         <p>&nbsp;</p>
         <h2 id="HC1"><strong><span style="color: #993366;">火车</span></strong></h2>
         <p>火车站（Rouen-Rive Droite）附近有地铁（Gare-Rue Verte站）和公交（F2和8路）。火车站直达巴黎Paris Saint Lazare (1h10-1h30）、亚眠、卡昂、迪耶普以及勒阿弗尔。 <br />购票：可以在官网，车站或者在手机app（Voyages-SNCF） 上购买。有青年卡的每次订火车票时选择青年卡，订票选带 Carte jeune字样的有额外折扣。纸质票请提前两分钟在站台附 近找机器打票，手机购买电子票可以直接上火车，不用打票。 <br />青年卡（Carte jeune）：12岁到27岁的可以办理青年卡， 享受打折优惠。卡费50欧，不定期有办卡优惠活动。有效期一 年，开始生效的时间可以自行选择。火车会查票，车票和青年 卡都要出示。 <br />办卡地址：Place Bernard Tissot, 76000 Rouen（Gare-Rue Verte地铁站）或官网。<br /></p>
         <p><strong id="BKCL"><span style="color: #993366;">办卡材料：</span></strong>1寸照片和护照或者长居卡 <br /><strong id="WSBK"><span style="color: #993366;">网上办卡：</span></strong>在网上填写需要的资料，到火车站粘贴照片 <br /><span style="color: #993366;"><strong id="SNCFGW">SNCF 官网：</strong></span>www.voyages-sncf.com </span></p>
         <p>&nbsp;</p>
         <p><span style="color: #000000;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<img ng-src="../../images/生活指南1_交通/CarteJeune.png" alt="CarteJeune.png"/></span></p>
         <p><span style="color: #993366;">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; SNCF网页 青年卡界面 </span></p>
         <p>&nbsp;</p>
         <blockquote>
            <p>&nbsp;注释：常见的住房证明：1.有房客房东双方签字的住房合同。2.有本人名字的EDF电费单/水费单/网费单&nbsp;</p>
         </blockquote>
      </div>
      <div class="panel" ng-show="vm.tab===2">
          <div class="row">
          <h1>运营商</h1>
                <ul class="section-nav">
                    <li class="toc-entry toc-h2"><a href="#YYSJS">运营商介绍</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#Orange">Orange</a></li>
                        <li class="toc-entry toc-h3"><a href="#SFR">SFR</a></li>
                        <li class="toc-entry toc-h3"><a href="#Bouygues">Bouygues</a></li>
                        <li class="toc-entry toc-h3"><a href="#Free">Free</a></li>
                    </ul>
                    <li class="toc-entry toc-h2"><a href="#WLJDH">网络机顶盒</a></li>
                    <li class="toc-entry toc-h2"><a href="#Tips">Tips</a></li>
                    <ul>
                        <li class="toc-entry toc-h3"><a href="#WXDX">无限短信</a></li>
                        <li class="toc-entry toc-h3"><a href="#BHZYYS">保号转运营商</a></li>
                        <li class="toc-entry toc-h3"><a href="#HTXZ">合同限制(Engagement)</a></li>
                        <li class="toc-entry toc-h3"><a href="#BLTCSXZL">办理套餐所需资料</a></li>
                        <li class="toc-entry toc-h3"><a href="#BS">报税</a></li>
                    </ul>
                    <li class="toc-entry toc-h2"><a href="#JRNHMYFGYHZH">假如你还没有法国银行账户</a></li>
                    
              </ul>
          </div>
          
         
         <br/>
         <div class="row">
             <h2 id="YYSJS"><strong><span style="color: #ff6600;">运营商介绍</span> </strong></h2>
                <p>前三大运营商1G流量套餐都在15欧左右。更多套餐信息，请在谷歌进行查 询，例如输入&ldquo;orange forfait&rdquo;。搭配同运营商的上网盒子BOX，可能有价 格优惠。法国运营商间竞争激烈，为了争取客户经常打出超低折扣，可以 多留意官网信息。 <br /><strong id="Orange">Orange</strong>，法国第一大的手机网络提供商，服务最好，信号最稳定，套餐多 为一年合同限制*。基本上只要不是太过于偏僻的地方都可以收到他家的信 号。子品牌Sosh，网络质量相同，价格更低，无实体店，网上办理业务。 <br /><strong id="SFR">SFR</strong>，服务介于Orange和Bouygues之间。没有合同限制，可以任意时间 更换提供商。子品牌Red，无实体店。 <br /><strong id="Bouygues">Bouygues</strong>，信号范围不是很广，但是4G的速度很快。Technop&ocirc;le和 Mont-Saint-Aignan校区可能没有信号。值得一提的是，25欧的套餐可以无 限拨打国内的手机和固话。没有合同限制。子品牌b&amp;you ，无实体店。 <br /><strong id="Free">Free</strong>，有些地区信号很差，但Technop&ocirc;le有信号。无合同限制。20欧套餐 可无限拨打国内手机和固话。2欧套餐50M流量，2小时通话，无限短信。&nbsp;</p>
          </div>
         <br/>  
         <div class="row">
             <h2 id="WLJDH"><strong><span style="color: #ff6600;">网络机顶盒</span></strong></h2>
                 <p>网络机顶盒(Box Internet)集合：网络，电视和固定电话。法国每年征收 一次电视税，学生等零收入及低收入的人群，报税*后无需缴纳电视税。 <br />固定电话与手机共享套餐，如果使用固定电话的时间超过手机网络提供商 的规定时间，需要额外交费。 <br />选择和手机套餐同一运营商可能享受一定幅度的优惠。 <br />第一次订网络机顶盒，可能会交一笔60欧左右的网络盒子服务费，大部分 运营商不会退还该费用。退订盒子需要填写一封退订信，然后把信和盒子 及所有线与配套设施一起寄到网络提供商的总部。 <br /><br /></p>
         </div>
         <div class="row">
             <h2 id="Tips"><strong><span style="color: #ff6600;">Tips</span></strong></h2>
                 <p id="WXDX"><strong>无限短信： <br /></strong>多数超过十欧的手机套餐（预付卡除 外），短信都可以任意时段无限量收 发，不过仅限法国本土或法国海外省。&nbsp;</p>
                 <p id="BHZYYS"><strong>保号转运营商:</strong></p>
                 <p>运营商经常网上进行套餐折扣，更改运 营商时可以保留自己的手机号。需要提 供自己的运营商身份证明号（RIO）， RIO号可以通过可以拨打电话3179或在 运营商官网进行查询。</p>
                 <p id="HTXZ"><strong>合同限制(Engagement)： </strong></p>
                 <p>部分套餐在一定时间内（一年）不能退 订，否则需要额外支付费用。不过如果 你退订的同时续订另一家网络提供商， 另一家可能会将部分钱补偿给你。&nbsp;</p>
                 <p id="BLTCSXZL"><strong>办理套餐所需资料: </strong></p>
                 <p>1.身份信息，即护照或者长居证 (Titre de s&eacute;jour)。 <br />2.银行信息，即RIB（Relev&eacute; d&rsquo;Identit&eacute; Bancaire）可以从法国银行的柜台或者 机器获取，也可以在法国银行app的网上 账户里中找到。&nbsp;</p>
                 <p id="BS"><strong>报税： </strong></p>
                 <p>在法国无收入学生也必须报税，在表单 的收入栏填零，否则可能收到电视和住 房税单。报税时间为每年四、五月份。</p>
                 <p>&nbsp;</p>
         </div>
         <div class="row">
             <h2 id="JRNHMYFGYHZH"><strong><span style="color: #ff6600;">假如你还没有法国银行账户 &nbsp;</strong><img ng-src="../../images/生活指南2_运营商/OrangeLogo.png" alt="OrangeLogo.png" width="auto" height="80" />&nbsp;<img ng-src="../../images/生活指南2_运营商/freeLogo.png" alt="freeLogo.png" width="80" height="auto" />&nbsp;<img ng-src="../../images/生活指南2_运营商/sfrLogo.png" alt="sfrLogo.png" width="80" height="auto"/>&nbsp;<img ng-src="../../images/生活指南2_运营商/bouygueLogo.png" alt="bouygueLogo.png" width="80" height="auto" /></span></h2>
                 <h3><span style="color: #ff6600;">办理预付卡或者特殊的国内运营商套餐</span></h3>
                 <p><strong>预付卡(Carte pr&eacute;pay&eacute;)</strong>，直接充钱就可以用，不需要银行RIB信息。有使用期限与套餐有效期，如果逾期不充值，手机卡将作废；如果超过套餐有效期，套餐将不再生效。Orange，Bouygues，SFR都有自己的价格套餐 ，都是充的越多，用的越久。在运营商处或者大超市可以购买。</p>
                 <p><br /><strong>注意：</strong>询问预付卡是否有拨打国际长途的服务，否则每分钟价格非常高 ，卡里的钱很快会被用完。</p>
                 <p><strong>&nbsp;例：</strong>Orange的预付卡套餐，买卡需要3.90&euro;， 购买后将赠5&euro;在卡内。</p>
                 <p><br /><strong>资费：</strong>法国呼叫：0.40&euro;/min，短信：0.10&euro;/条，流量： 0.50&euro;/Mo；往国内呼叫1.55&euro;/min。晚间21h至夜里24h在法 国本土可以无限发短信。初始套餐有效期为6天，套餐有效<br />期结束后需要重新充值。初始使用期限为一个月。 &nbsp;</p>
         </div>
      </div>
      
      <div class="panel" ng-show="vm.tab===3">
          <div class="row">
            <h1><span>生活饮食</span></h1>
            <ul>
                <li class="toc-entry toc-h2"><a href="#FC">法超</a></li>
                <li class="toc-entry toc-h2"><a href="#JJYP">家具用品</a></li>
                <li class="toc-entry toc-h2"><a href="#SYZX">商业中心</a></li>
                <li class="toc-entry toc-h2"><a href="#ZCJZC">中超及中餐</a></li>
            </ul>
          </div>    
         
         <br/>
         <h2 id="FC"><strong><span style="color: #993300;">法超</span></strong></h2>
         <br/>
         <p><strong><span style="color: #993300;">Carrefour：</span></strong> 山 上 (Mont-SaintAignan ) 的 超 大 家 乐 福（适 合 NEOMA的同学)。 <br />地址：ZAC De La Vatine, 76130 Mont Saint Aignan <br />时间：周一到周六（9:00-21:00） <br /><strong><span style="color: #993300;">E.Leclerc：</span></strong>地铁站旁，价格合 理的大型超市。Saint-Sever分店 周一至周六及周日早上营业， Technop&ocirc;le分 店 周 一 至 周 六 营 业。 <br /> <br />此外左岸还有平价超市Lidl, 市中 心有中型超市Monoprix, Simply， 便利店Spar以及右岸的中型超市 Intermarch&eacute;可供选择。</p>
         <p>&nbsp;</p>
         <h2 id="JJYP"><strong><span style="color: #993300;">家具用品</span></strong></h2>
         <br/>
         <p><strong><span style="color: #993300;">Conforama：</span></strong>公交可达，交通便利 <br />地址：122/128 Avenue du Mont Riboudet, 76000 Rouen <br />营业时间:周一到周六(10:00-19：00) <br />交通：T线 Jean Ango站 <br /><strong><span style="color: #993300;">宜家IKEA：</span></strong>位置较远，可乘火车或 F3到Oissel 站，转F线到Les Antes Nord 站下车或和有车的同学同去。 <br />地址：ZAC du Clos aux Antes, Avenue Gustave Picard, 76410 Tourvillela-Rivi&egrave;re <br />营业时间:周一到周六（10:00-20:00） <br />注：<strong>T线即为Teor线，快速公交线路， 有T1,T2,T3三条。</strong></p>
         <p>&nbsp;</p>
         <h2 id="SYZX"><span style="color: #993300;"><strong>商业中心</strong></span></h2>
         <br/>
         <p><strong><span style="color: #993300;">大钟街：</span></strong>市中心商业街</p>
         <p><strong><span style="color: #993300;">Saint-Sever:</span></strong> 内部含大型的超市 E.Leclerc，各种餐厅，服装店及电影院。 <br />地址： Avenue de Bretagne <br />营业时间：星期一至星期六（09:30&ndash; 20:00） 星期日（09:00&ndash;12:30） <br />交通：地铁(Saint sever站);公交车F1， 6，32（Place St sever站）。</p>
         <p><strong><span style="color: #993300;">Docks 76:</span></strong> 娱乐性更强，商家更多。顶 层有一个电影院和一个儿童游乐场。 <br />地址：1 Boulevard Ferdinand de Lesseps <br />营业时间：周一至周六（10:00&ndash;20:00） <br />交通：坐T1、T2或T3到Kindarena站。 <span style="color: #993300;"><strong><br /><br /></strong></span></p>
         <h2 id="ZCJZC"><strong><span style="color: #993300;">中超及中餐</span></strong></h2>
         <br/>
         <p><strong><span style="color: #993300;">&nbsp;
            <img ng-src="../../images/生活指南3_生活饮食/Map.png" alt="Map.png" width="650" height="auto" /></span></strong>
         </p>
         <blockquote>
            <br />&nbsp;
            <table style="height: 163px;" width="634">
               <tbody>
                  <tr>
                     <td style="width: 309px;"><span style="color: #ff0000;"><strong>1. Asia Store：</strong></span>店面比较大，商品品种很多：15 Rue de la Vicomte</td>
                     <td style="width: 309px;"><span style="color: #333399;"><strong>1. 天子轩(Chez Yulin):&nbsp;</strong></span>35 Rue du Vieux Palais</td>
                  </tr>
                  <tr>
                     <td style="width: 309px;"><span style="color: #ff0000;"><strong>2. 九洲：</strong></span>1 Rue Guillaume le Conqu&eacute;rant</td>
                     <td style="width: 309px;">
                        <p><strong><span style="color: #333399;">2. 姐姐家(Saveurs de Chine):</span>&nbsp;</strong>43 rue Saint-Eloi</p>
                        <p>&nbsp;</p>
                     </td>
                  </tr>
                  <tr>
                     <td style="width: 309px;"><span style="color: #ff0000;"><strong>3. Bon App&eacute;tit：</strong></span>越南人开：98 Rue du G&eacute;n&eacute;ral Leclerc</td>
                     <td style="width: 309px;"><strong><span style="color: #333399;">3. Chez nou:</span>&nbsp;</strong>10 Rue Perci&egrave;re</td>
                  </tr>
                  <tr>
                     <td style="width: 309px;"><span style="color: #ff0000;"><strong>4. Dragon d&rsquo;Asie：</strong></span>有现做奶茶、动漫周边和KTV，7 rue Saint-Denis 5. L&rsquo;Asie：96 Rue Jeanne d'Arc</td>
                     <td style="width: 309px;"><span style="color: #333399;"><strong>4. 翠园(Au Jardin de Chine)：</strong></span>36 Rue Perci&egrave;re</td>
                  </tr>
                  <tr>
                     <td style="width: 309px;">&nbsp;</td>
                     <td style="width: 309px;"><span style="color: #333399;"><strong>5. 龙城(Le Palais d&rsquo;Asie)：</strong></span>33 rue saint Etienne des tonneliers</td>
                  </tr>
                  <tr>
                     <td style="width: 309px;">&nbsp;</td>
                     <td style="width: 309px;"><span style="color: #333399;"><strong>6. 拉面(HO Lamian)：</strong></span>243 Rue Eau de Robec</td>
                  </tr>
                  <tr>
                     <td style="width: 309px;">&nbsp;</td>
                     <td style="width: 309px;"><span style="color: #333399;"><strong>7. 东海龙珠(Perle d&rsquo;Asie)：</strong></span>2 Place de la R&eacute;publique</td>
                  </tr>
               </tbody>
            </table>
            <p><strong>注：具体营业时间请以官网为准 </strong></p>
         </blockquote>
      </div>
      <div class="panel" ng-show="vm.tab===4">
         <h4>运动</h4>
         <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===5">
         <h4>娱乐</h4>
         <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===6">
         <h4>房补</h4>
         <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===7">
         <h4>就医指南</h4>
         <p>...</p>
      </div>

      <div class="panel" ng-show="vm.tab===8">
        <!--  <h4>银行</h4>
         <p>...</p> -->

              <div class="col-sm-3" style="margin-top: 100px;">
                <ul class="section-nav">

                  <li class="toc-entry toc-h2"><a href="#法国三大银行">法国三大银行</a>
                    <ul>
                      <li class="toc-entry toc-h3"><a href="#LCL">LCL</a></li>
                      <li class="toc-entry toc-h3"><a href="#BNP Paribas">BNP Paribas</a></li>
                      <li class="toc-entry toc-h3"><a href="#Société Générale">Société Générale</a></li>
                    </ul>
                  </li>

                  <li class="toc-entry toc-h2"><a href="#RIB">RIB</a></li>
                  
                  <li class="toc-entry toc-h2"><a href="#手续">手续</a>
                    <ul>
                      <li class="toc-entry toc-h3"><a href="#开户">开户</a></li>
                      <li class="toc-entry toc-h3"><a href="#额度">额度</a></li>
                      <li class="toc-entry toc-h3"><a href="#透支">透支</a></li>
                    </ul>
                  </li>

                  <li class="toc-entry toc-h2"><a href="#账户类型">账户类型</a>
                    <ul>
                      <li class="toc-entry toc-h3"><a href="#Livret Jeune">Livret Jeune</a></li>
                      <li class="toc-entry toc-h3"><a href="#Livret A">Livret A</a></li>
                    </ul>
                  </li>

                  <li class="toc-entry toc-h2"><a href="#银行卡">银行卡</a>
                    <ul>
                      <li class="toc-entry toc-h3"><a href="#丢卡">丢卡</a></li>
                      <li class="toc-entry toc-h3"><a href="#吞卡">吞卡</a></li>
                    </ul>
                  </li>

                  <li class="toc-entry toc-h2"><a href="#支票">支票</a>
                    <ul>
                      <li class="toc-entry toc-h3"><a href="#填写支票">填写支票</a></li>
                      <li class="toc-entry toc-h3"><a href="#收支票">收支票</a></li>
                    </ul>
                  </li>

                  <li class="toc-entry toc-h2"><a href="#现金">现金</a>
                    <ul>
                      <li class="toc-entry toc-h3"><a href="#取现">取现</a></li>
                      <li class="toc-entry toc-h3"><a href="#来法须知">来法须知</a></li>
                    </ul>
                  </li>
                  
                </ul>
              </div>

               <div class="col-sm-9" style="margin-top: 100px;">

                  <h3 id="法国三大银行" style="padding-bottom: 25px;">法国三大银行</h3>
                  <div ng-repeat="bank in vm.data_8.banks">
                    <div class="row row-content" id="{{bank.title}}">
                      <!-- <div class="col-xs-12 col-sm-2" id="{{bank.title}}">
                                  <p style="padding:10px;"></p>
                                  <h3 align=center>{{bank.title}}</h3>
                               </div> -->
                      <div class="col-xs-12 col-sm-12">
                        <div class="media">
                          <div class="media-body">
                             <!-- <h2 class="media-heading">promotion.name
                                 <span class="label label-danger">promotion.label</span>
                                 <span class="badge">promotion.price|currency</span>
                             </h2> -->
                            <p>{{bank.description}}</p>
                          </div>
                          <div class="media-right media-middle">
                            <a href="{{bank.url}}" target="_blank">
                              <img ng-src="{{bank.image}}" height="120">
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr>
                  </div>
                  
                  <div style="padding-top: 25px;"></div>

                  <div>
                    <h3 id="{{vm.data_8.RIB.title}}">{{vm.data_8.RIB.title}}</h3>
                    <br>
                    <p>{{vm.data_8.RIB.description}}</p>
                    <p>{{vm.data_8.RIB.description1}}</p>
                    <hr>
                 </div>
                 
                 <h3 id="手续" style="padding: 25px 0;">手续</h3>
                 <div ng-repeat="data in vm.data_8.shouxu">
                   <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <p>{{data.description1}}</p>
                    <p>{{data.description2}}</p>
                    <hr>
                 </div>

                 <h3 id="账户类型" style="padding: 25px 0;">账户类型</h3>
                 <div ng-repeat="data in vm.data_8.account">
                   <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <hr>
                 </div>

                 <h3 id="银行卡" style="padding: 25px 0;">银行卡</h3>
                 <div ng-repeat="data in vm.data_8.card">
                   <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <p>{{data.description1}}</p>
                    <p>{{data.description2}}</p>
                    <p>{{data.description3}}</p>
                    <p>{{data.description4}}</p>
                    <hr>
                 </div>

                 <h3 id="支票" style="padding: 25px 0;">支票</h3>
                 <div ng-repeat="data in vm.data_8.check">
                   <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <hr>
                 </div>

                 <h3 id="现金" style="padding: 25px 0;">现金</h3>
                 <div ng-repeat="data in vm.data_8.cash">
                   <h4 id="{{data.title}}">{{data.title}}</h4>
                    <br>
                    <p>{{data.description}}</p>
                    <p>{{data.description1}}</p>
                    <p>{{data.description2}}</p>
                    <hr>
                 </div>

               </div>
      </div>

      <div class="panel" ng-show="vm.tab===9">
         <div ng-repeat="app in vm.data_9">
            <div class="row row-content">
               <div class="col-xs-12 col-sm-3">
                  <p style="padding:10px;"></p>
                  <h3 align=center>{{app.title}}</h3>
               </div>
               <div class="col-xs-12 col-sm-9">
                  <div class="media">
                     <div class="media-body">
                        <!-- <h2 class="media-heading">promotion.name
                           <span class="label label-danger">promotion.label</span>
                           <span class="badge">promotion.price|currency</span>
                           </h2> -->
                        <p>{{app.description}}</p>
                     </div>
                     <div class="media-right media-middle">
                        <a href="{{app.url}}" target="_blank">
                        <img ng-src="{{app.image}}" height="120">
                        </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
