<!-- <div class="row guide_divs">
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">交通</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">运营商</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">生活饮食</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">运动</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">娱乐</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">房补</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">就医指南</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">银行</a></div>
	<div class="col-sm-1 guide_div"><a class="btn btn-primary btn_div">应用推荐</a></div>	
</div> -->

<ul class="nav nav-pills guide_navs">
	  <li style="padding: 6px;"></li>
      <li ng-class="{ active: vm.tab===1 }" class="guide_nav">
        <a href="" ng-click="vm.tab=1"><h5>交通</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===2 }" class="guide_nav">
        <a href="" ng-click="vm.tab=2"><h5>运营商</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===3 }" class="guide_nav">
        <a href="" ng-click="vm.tab=3"><h5>生活饮食</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===4 }" class="guide_nav">
        <a href="" ng-click="vm.tab=4"><h5>运动</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===5 }" class="guide_nav">
        <a href="" ng-click="vm.tab=5"><h5>娱乐</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===6 }" class="guide_nav">
        <a href="" ng-click="vm.tab=6"><h5>房补</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===7 }" class="guide_nav">
        <a href="" ng-click="vm.tab=7"><h5>就医指南</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===8 }" class="guide_nav">
        <a href="" ng-click="vm.tab=8"><h5>银行</h5></a>
      </li>
      <li ng-class="{ active: vm.tab===9 }" class="guide_nav">
        <a href="" ng-click="vm.tab=9"><h5>应用推荐</h5></a>
      </li>
</ul>

<div class="container">
  <div class="row">
      <div class="panel" ng-show="vm.tab===0" style="height: 600px;"></div>
      <div class="panel" ng-show="vm.tab===1">
        <h4>交通</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===2">
        <h4>运营商</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===3">
        <h4>生活饮食</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===4">
        <h4>运动</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===5">
        <h4>娱乐</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===6">
        <h4>房补</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===7">
        <h4>就医指南</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===8">
        <h4>银行</h4>
        <p>...</p>
      </div>
      <div class="panel" ng-show="vm.tab===9">
        <div ng-repeat="app in vm.data_9">
            <div class="row row-content">
                <div class="col-xs-12 col-sm-3">
                    <p style="padding:10px;"></p>
                    <h3 align=center>{{app.title}}</h3>
                </div>

                <div class="col-xs-12 col-sm-9">
                          <!-- div ng-if="!showPromotion">
                              <h3>{{message}}</h3>
                          </div> -->
                    <div class="media">
                        <div class="media-body">
                            <!-- <h2 class="media-heading">promotion.name
                                <span class="label label-danger">promotion.label</span>
                                <span class="badge">promotion.price|currency</span>
                            </h2> -->
                            <p>{{app.description}}</p>
                        </div>
                        <div class="media-right media-middle">
                            <a href="{{app.url}}" target="_blank">
                              <img ng-src="{{app.image}}" alt="promotion" height="120">
                            </a>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>