<script type="text/javascript">
var xhr = new XMLHttpRequest(); 
xhr.open("POST", "http://localhost:8000/register", true); 
xhr.setRequestHeader("Content-type", "application/json"); 
// xhr.setRequestHeader("kbn-version", "5.3.0"); 
// xhr.onreadystatechange = function() { 
// if (xhr.readyState == 4) { 
// if (xhr.status == 200) { 
// window.location.href = us.nextUrl; 
// } 
// } 
// };

xhr.send(JSON.stringify({ "name" : "b",
						  "email" : "b@test.com",
						  "department":"项目开发部",
						  "position": "成员",
						  "school": "INSA",
						  "phone_number": "0654983278",
						  "birthday": "1995-10-29",
						  "arrive_date": "2025-10-18",
						  // arrive_date 有一个2037问题
						  "password": "yang"})); 


</script>

<form method="POST">
	<div class="form-group">
		<!-- check -->
		<!-- <div id="info" style="display:none"></div>
			<input name="creer" value="1" type="hidden" /> -->
		<label for="name">名字</label>
		<input type="text" class="form-control" id="name" ng-model=vm.name placeholder="Name" required>
	</div>
	<div class="form-group">
		<label for="email">邮箱</label>
		<input type="email" class="form-control" id="email" placeholder="Email" required>
	</div>
	<div class="form-group">
		<label for="department">部门</label>	
	    <select class="form-control"  id="department">
	      <option>项目开发部</option>
	      <option>组织部</option>
	      <option>安全部</option>
	    </select>
	</div>
	<div class="form-group">
		<label for="department">身份</label>	
	    <select class="form-control"  id="department">
	      <option>成员</option>
	      <option>1</option>
	      <option>2</option>
	    </select>
	</div>
	<div class="form-group">
		<label for="date">date</label>
		<input type="datetime-local" class="form-control" id="date" name="date" required>
		<small class="form-text text-muted">Please entrer day/month/year/hour/minute</small>
	</div>
	
	<div class="form-group">
		<label for="groupe">groupe</label>
		<input type="number" min="1" max="8" class="form-control" id="groupe" name="groupe" placeholder="num de groupe" required>
		<small class="form-text text-muted">we have 8 groups</small>
	</div>
	
	
	<div class="form-group">
		<button type="submit" class="btn btn-primary active">creer</button>
		<a class="btn btn-primary active" href="enseignant_0.php">retour</a>
	</div>
</form>

