<div class="container">
	<div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="http://localhost:3000/" style="color:gray;">Home</a></li>
                   <li class="active">register</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>注册</h3>
               <hr>
            </div>
    </div>
	<div style="margin-top: 30px;"></div>
	<div class="row">
		<div class="col-xs-12 col-sm-9">
			<form class="form-horizontal" name="registerForm" ng-submit="vm.sendRegister()" novalidate>
				<div class="form-group" ng-class="{ 'has-error' : registerForm.email.$error.required && !registerForm.email.$pristine }">
					<label for="email" class="col-sm-2 control-label">邮箱</label>
					<div class="col-sm-10">
						<input type="email" class="form-control register_input" id="email" name="email" ng-model="vm.register.email" placeholder="Email" required>
						<span ng-show="registerForm.email.$error.required && !registerForm.email.$pristine" class="help-block">Your email is required.</span>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : registerForm.password.$error.required && !registerForm.password.$pristine }">
					<label for="password" class="col-sm-2 control-label">密码</label>
					<div class="col-sm-10">
						<input type="password" class="form-control register_input" id="password" ng-model="vm.register.password" name="password" placeholder="password" required>
						<span ng-show="registerForm.password.$error.required && !registerForm.password.$pristine" class="help-block">Your password is required.</span>
					</div>
				</div>
				<div class="form-group" ng-class="{ 'has-error' : (registerForm.password_confirm.$error.required && !registerForm.password_confirm.$pristine) || registerForm.password_confirm.$dirty&&vm.password_confirm!=vm.register.password}">
					<label for="password_confirm" class="col-sm-2 control-label">确认密码</label>
					<div class="col-sm-10">
						<input type="password" class="form-control register_input" id="password_confirm" ng-model="vm.password_confirm" name="password_confirm" placeholder="password confirm" required>
						<span ng-show="registerForm.password_confirm.$error.required && !registerForm.password_confirm.$pristine" class="help-block">Your password_confirm is required.</span>
						<span ng-show="registerForm.password_confirm.$dirty&&vm.password_confirm!=vm.register.password" class="help-block">两次密码不一样</span>
					</div>	
				</div>
				<div class="form-group" ng-class="{ 'has-error' : registerForm.name.$error.required && !registerForm.name.$pristine }">
					<label for="name" class="col-sm-2 control-label">名字</label>
					<div class="col-sm-10">
						<input type="text" class="form-control register_input" id="name" name="name" ng-model="vm.register.name" placeholder="Name" required>
						<span ng-show="registerForm.name.$error.required && !registerForm.name.$pristine" class="help-block">Your name is required.</span>
					</div>
				</div>
				
				<div class="form-group">
					<label for="department" class="col-sm-2 control-label">部门</label>
					<div class="col-sm-10">
						<select class="form-control"  id="department" name="department" ng-model="vm.register.department" ng-options="department_channel.value as department_channel.label for department_channel in vm.department_channels" required>
				   		</select>
				    	{{vm.register.department}}
					</div>	
				</div>
				
				<div class="form-group">
					<label for="position" class="col-sm-2 control-label">身份</label>
					<div class="col-sm-10">
						<select class="form-control"  id="position" name="position" ng-model="vm.register.position" ng-options="position.value as position.label for position in vm.positions" required>
				    	</select>
				    	{{vm.register.position}}
					</div>	
				</div>
				
				<div class="form-group" ng-class="{ 'has-error' : registerForm.school.$error.required && !registerForm.school.$pristine }">
					<label for="school" class="col-sm-2 control-label">学校</label>
					<div class="col-sm-10">
						<input type="text" class="form-control register_input" id="school" name="school" ng-model="vm.register.school" placeholder="School" required>
						<span ng-show="registerForm.school.$error.required && !registerForm.school.$pristine" class="help-block">Your school is required.</span>
					</div>
					
				</div>
				<div class="form-group" ng-class="{ 'has-error' : (registerForm.phone_number.$error.required && !registerForm.phone_number.$pristine) || ((registerForm.phone_number.$error.minlength || registerForm.phone_number.$error.maxlength) && registerForm.phone_number.$dirty) }">
					<label for="phone_number" class="col-sm-2 control-label">手机号码</label>
					<div class="col-sm-10">
						<input type="phone" class="form-control register_input" id="phone_number" name="phone_number" ng-model="vm.register.phone_number" ng-minlength="10" ng-maxlength="10" placeholder="Number" required>
						<span ng-show="registerForm.phone_number.$error.required && !registerForm.phone_number.$pristine" class="help-block">Your phone_number is required.</span>
						<span ng-show="((registerForm.phone_number.$error.minlength || registerForm.phone_number.$error.maxlength) && registerForm.phone_number.$dirty)" class="help-block">电话号码需要10位.</span>
					</div>
				</div>

				<div class="form-group">
					<label for="birthday" class="col-sm-2 control-label">生日</label>
					<div class="col-sm-10">
						<input type="date" class="form-control register_input" id="birthday" name="birthday" ng-model="vm.birthday" required>
						{{vm.birthday}}
					</div>
				</div>

				<div class="form-group">
					<label for="arrive_date" class="col-sm-2 control-label">入会时间</label>
					<div class="col-sm-10">
						<input type="date" class="form-control register_input" id="arrive_date" name="arrive_date" ng-model="vm.arrive_date" required>
						{{vm.arrive_date}}
					</div>
				</div>  
				
				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-2">
						<button type="submit" class="btn btn-primary active" ng-disabled="registerForm.$invalid">注册</button>
					<a class="btn btn-primary active" href="http://localhost:3000/">取消</a>
					</div>
					
				</div>
			</form>
		</div>
	</div>
</div>
