<!-- <h2>这是工作目录页面-component</h2> -->
<div style="padding: 20px;"></div>
<div class="container">
	<div class="row">
		<ul id="list_job">
		<div class="col-sm-12 col-xs-12 titles_job">
			<li class="col-sm-3">职位名</li>
			<li class="col-sm-3">公司名</li>
			<li class="col-sm-2">工作地点</li>
			<li class="col-sm-2">薪资</li>
			<li class="col-sm-2">发布时间</li>
		</div>
		<div class="item_job col-sm-12 col-xs-12" ui-sref="home.work({id:0})">
			<li class="item_job_1 col-sm-3">1</li>
			<li class="item_job_2 col-sm-3">2</li>
			<li class="item_job_3 col-sm-2">3</li>
			<li class="item_job_4 col-sm-2">4</li>
			<li class="item_job_5 col-sm-2">5</li>
		</div>
		<div class="item_job col-sm-12 col-xs-12" ng-repeat="work in vm.works" ui-sref="home.work({id:work.id})">
			<li class="item_job_1 col-sm-3">{{work.title_work}}</li>
			<li class="item_job_2 col-sm-3">{{work.company_work}}</li>
			<li class="item_job_3 col-sm-2">{{work.city_work}}</li>
			<li class="item_job_4 col-sm-2">{{work.salary_work}}</li>
			<li class="item_job_5 col-sm-2">{{work.published_work}}</li>
		</div>
		</ul>
	</div>
	
</div>
<div style="padding: 20px;"></div>
