<!-- <h2>生活随笔</h2> -->

<div class="container">
    <div class="row">
     </div>
        <div class="row" ng-repeat="writing in vm.writings">
            <div class="writing" ui-sref="home.writing_detail({id:writing.id})">
            <div class="col-sm-3">
            <img ng-src="{{writing.image}}", width="120px", height="auto">
            </div>   
            <div class="col-sm-2">
            <h4>{{writing.title}}</h4>
            <h4>{{writing.user}}</h4>
            <h4>{{writing.published_at}}</h4>
            </div>
            <div class="col-sm-4">
            <p>{{writing.introduction}}</p>
            </div>      
            </div>
        </div>

</div>
