<footer>
  <div class="container">
		<div class="row">
			<div class="col-sm-6 text-center-mobile">
        <h3 class="white">Links<span class="open-blink"></span></h3>
				<h4 class="white"><a href="https://www.facebook.com/acecrcontact/">联系我们</a></h4>
        <h4 class="white">学联介绍</h4>
			</div>
      <div class="col-sm-2 text-center-mobile">
       <li id="div1"><img class="showPicture" ng-src="../../images/学联微信二维码.jpg"></li>
      </div>
      <div class="col-sm-3 text-right text-center-mobile">
        <ul class="social-footer">
          <li><a href="https://www.facebook.com/acecrcontact/"><i class="fa fa-facebook-square" style="font-size:36px"></i></a></li>
          <li><img class="contactLogo" ng-src="../../images/wechat.png"
            onmouseover="document.getElementById('div1').style.display = 'block ';"
            onmouseout="document.getElementById('div1').style.display = 'none';"></li>
          <li><a href="#"><img class="contactLogo" ng-src="../../images/email.png"></i></a></li>
          <li><a href="#"><img class="contactLogo" ng-src="../../images/youtube.png"></a></li>
        </ul>
      </div>
		</div>
    <div class="row">
      <div class="col-sm-6 text-center-mobile">
       <h4 class = "white">开发团队</h4>
     </div>
      <div class = "col-sm-6 text-center-mobile">
       <h5 class = "white col-sm-2">唐雨欣</h5>
       <h5 class = "white col-sm-2">宋雨舟</h5>
       <h5 class = "white col-sm-2">何俊阳</h5>
       <h5 class = "white col-sm-2">尤扬</h5>
       <h5 class = "white col-sm-2">杨杰安</h5>
      </div>
  </div>

		<div class="row bottom-footer text-center-mobile">
			<div class="col-sm-8">
				<p>&copy; 2017 acecrouen.com 版权所有</p>
			</div>
      <div class="col-sm-3 text-right text-center-mobile">
        <select class="form-select">
          <option>中文(简体)</option>
          <option>法语</option>
          <option>英语</option>
        </select>
      </div>
		</div>
	</div>
</footer>
