#listOfUsers_page #model_view{
	background-color: white;
	position: absolute;
	top: 150px;
	left: 320px;
	bottom: 25px;
	right: 70px;
	z-index: 100;
	border:3px solid rgba(0,0,0, 0.4); 
	display: none;
}
#listOfUsers_page.fullbg{
	background-color: #DFDBDB;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 99;
	display: none;
	opacity:0.5;
}

#listOfUsers_page #listOfUsers tr .links {
    display:none;
}

#listOfUsers_page #listOfUsers tr:hover .links {
    display:block;   
}